@import "@orderly.network/ui/dist/styles.css";
@import "../styles/theme.css";
@import "../styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide trading rewards on mobile */
.oui-portfolio-page .oui-box.oui-flex.oui-flex-nowrap > div:nth-child(2).oui-box.oui-flex.oui-justify-start.oui-flex-nowrap.oui-relative {
  display: none;
}

/* hide PML labels */
.your-parent-selector .oui-bg-line.oui-text-base-contrast-36.oui-ms-1 {
  display: none !important;
}

[id^="radix-"][id$="-content-all"] table td .oui-bg-line.oui-text-base-contrast-36 {
  display: none !important;
}

.oui-flex.oui-gap-1:has(.oui-bg-line.oui-text-base-contrast-36) {
  display: none !important;
}
